---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=hafeezpet,%20hyderabad&key=AIzaSyBwxWKbuDm04EY_8hMB6M7kIebDwvimKpQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hafeezpet",
                       "short_name" : "Hafeezpet",
                       "types" : [ "political", "sublocality", "sublocality_level_1" ]
                    },
                    {
                       "long_name" : "Hyderabad",
                       "short_name" : "Hyderabad",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Ranga Reddy",
                       "short_name" : "R.R. District",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Telangana",
                       "short_name" : "Telangana",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "India",
                       "short_name" : "IN",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hafeezpet, Hyderabad, Telangana, India",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 17.4976501,
                          "lng" : 78.381956
                       },
                       "southwest" : {
                          "lat" : 17.472904,
                          "lng" : 78.335004
                       }
                    },
                    "location" : {
                       "lat" : 17.4841683,
                       "lng" : 78.3602942
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 17.4976501,
                          "lng" : 78.381956
                       },
                       "southwest" : {
                          "lat" : 17.472904,
                          "lng" : 78.335004
                       }
                    }
                 },
                 "place_id" : "ChIJoTV-Kj-SyzsRKYgxgW5--YA",
                 "types" : [ "political", "sublocality", "sublocality_level_1" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 28 Aug 2019 06:01:50 GMT
recorded_with: VCR 5.0.0
